
@{ ViewData["Title"] = "Index"; }

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="~/Images/profile_small.png" class="rounded-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h1 class="no-margins">
                            @User.Identity.Name
                            <!--User.FindFirst("Weight").Value;-->
                        </h1>
                        <p>
                            Email do usuário
                        </p>
                        <table class="table small m-b-xs">
                            <tbody>
                                <tr>
                                    <td>
                                        Peso: <strong>58kg</strong>
                                    </td>
                                    <td>
                                        Altura: <strong>163cm</strong>
                                    </td>
                                    <td>
                                        Gordura Corporal: <strong>%22</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="no-margins">Meta diária de nutrientes:</h3>
            <table class="table small m-b-xs">
                <tbody>
                    <tr>
                        <td class="text-success">
                            <strong class="badge-success">' 77g </strong> de Calorias
                        </td>
                        <td class="text-info">
                            <strong class="badge-info">' 22g </strong> de Carboidratos
                        </td>

                    </tr>
                    <tr>
                        <td class="text-warning">
                            <strong class="badge-warning">' 61 </strong>g de Proteínas
                        </td>
                        <td class="text-danger">
                            <strong class="badge-danger">' 54g </strong> de Gorduras
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>Progresso Kgs</small>
            <h2 class="no-margins">58</h2>
            <div id="sparkline1"></div>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row justify-content-md-center">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox"><h1 class="text-center">Dieta do dia </h1>
                        <div class="row justify-content-md-center">
                            <div class="col-lg-3" id="data_3">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="Date_Of_Birthday" value="@DateTime.Today.Date.ToString("dd/MM/yyyy")" class="form-control date">
                                </div>
                            </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-8">
                                <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon blue-bg">
                                            <i class="fa fa-coffee"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Café da manhã</h2>
                                            <div class="dd-nodrag" id="nestable">
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="1">
                                                        <div class="dd-handle">
                                                            <div class="tooltip-demo">
                                                                <a class="text-info">Nome da refeição</a><button class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="right" title="Informação nutricional: r/n Calorias: r/n Carboidratos:r/nProteínas: r/n Gorduras:"><i class="fa fa-lightbulb-o"></i> Detalhes</button>
                                                            </div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="2">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (10g) </span>
                                                                    <span class="label label-info"></span> Comida1
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="3">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (50g) </span>
                                                                    <span class="label label-info"></span> Comida2
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="4">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (100g) </span>
                                                                    <span class="label label-info"></span> Comida3
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon red-bg">
                                            <i class="fa fa-cutlery"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Almoço</h2>
                                            <div class="dd-nodrag" id="nestable">
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="1">
                                                        <div class="dd-handle">
                                                            <div class="tooltip-demo">
                                                                <a class="text-danger">Nome da refeição</a><button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="right" title="Informação nutricional:&#10Calorias:&#10Carboidratos:&#10Proteínas:&#10Gorduras:"><i class="fa fa-lightbulb-o"></i> Detalhes</button>
                                                            </div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="2">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (10g) </span>
                                                                    <span class="label label-danger"></span> Comida1
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="3">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (50g) </span>
                                                                    <span class="label label-danger"></span> Comida2
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="4">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (100g) </span>
                                                                    <span class="label label-danger"></span> Comida3
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon yellow-bg">
                                            <i class="fa fa-glass"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>Janta</h2>
                                            <div class="dd-nodrag" id="nestable">
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="1">
                                                        <div class="dd-handle">
                                                            <div class="tooltip-demo">
                                                                <a class="text-warning">Nome da refeição</a><button class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="right" title="Informação nutricional:&#10Calorias:&#10Carboidratos:&#10Proteínas:&#10Gorduras:"><i class="fa fa-lightbulb-o"></i> Detalhes</button>
                                                            </div>
                                                        </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="2">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (10g) </span>
                                                                    <span class="label label-warning"></span> Comida1
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="3">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (50g) </span>
                                                                    <span class="label label-warning"></span> Comida2
                                                                </div>
                                                            </li>
                                                            <li class="dd-item" data-id="4">
                                                                <div class="dd-handle">
                                                                    <span class="float-right"> (100g) </span>
                                                                    <span class="label label-warning"></span> Comida3
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div id="pie"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/slick-carousel/slick/slick.css" />
        <link rel="stylesheet" href="~/lib/slick-carousel/slick/slick-theme.css" />
        <link rel="stylesheet" href="~/lib/c3/c3.min.css" />
        <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker-bs3.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    </environment>
}

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/daterangepicker/daterangepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/lib/slick-carousel/slick/slick.js"></script>
        <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
        <script src="~/lib/nestable/jquery.nestable.js"></script>
        <script src="~/lib/c3/c3.js"></script>
        <script src="~/lib/d3/d3.min.js"></script>


    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            c3.generate({
                bindto: '#pie',
                data: {
                    columns: [
                        ['Calorias', 30],
                        ['Carboidratos', 120],
                        ['Proteínas', 120],
                        ['Gorduras', 120]
                    ],
                    colors: {
                        data1: '#0000FF',
                        data2: '#f0d500',
                        data3: '#42ccce',
                        data4: '#eed202'
                    },
                    type: 'pie'
                }
            });

            $('.dd-nodrag').nestable('collapseAll');

            $('.dd-nodrag').nestable({
                collapsedClass: 'dd-collapsed',
                group: 1
            }).nestable('collapseAll');

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                format: 'dd/mm/yyyy',
                language: 'pt-BR',
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('input[name="daterange"]').daterangepicker();

            $('#reportrange span').html(moment().subtract(29, 'days').format('dd MMMM yyyy') + ' - ' + moment().format('dd MMMM yyyy'));



        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 48], {
                type: 'line',
                width: '100%',
                height: '50',
                lineColor: '#1ab394',
                fillColor: "transparent"
            });

        });
    </script>
}
