@model MVCPresentationLayer.Models.InsertModels.UserInsertViewModel

@{
    ViewData["Title"] = "Insert";
}

<h1>Insert</h1>

<h4>UserInsertViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Insert">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food_Name" class="control-label"></label>
                <input asp-for="Food_Name" class="form-control" />
                <span asp-validation-for="Food_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alcohol" class="control-label"></label>
                <input asp-for="Alcohol" class="form-control" />
                <span asp-validation-for="Alcohol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbohydrate" class="control-label"></label>
                <input asp-for="Carbohydrate" class="form-control" />
                <span asp-validation-for="Carbohydrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Copper" class="control-label"></label>
                <input asp-for="Copper" class="form-control" />
                <span asp-validation-for="Copper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiber" class="control-label"></label>
                <input asp-for="Fiber" class="form-control" />
                <span asp-validation-for="Fiber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lipid" class="control-label"></label>
                <input asp-for="Lipid" class="form-control" />
                <span asp-validation-for="Lipid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Magnesium" class="control-label"></label>
                <input asp-for="Magnesium" class="form-control" />
                <span asp-validation-for="Magnesium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phosphor" class="control-label"></label>
                <input asp-for="Phosphor" class="form-control" />
                <span asp-validation-for="Phosphor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Potassium" class="control-label"></label>
                <input asp-for="Potassium" class="form-control" />
                <span asp-validation-for="Potassium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label"></label>
                <input asp-for="Protein" class="form-control" />
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sodium" class="control-label"></label>
                <input asp-for="Sodium" class="form-control" />
                <span asp-validation-for="Sodium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selenium" class="control-label"></label>
                <input asp-for="Selenium" class="form-control" />
                <span asp-validation-for="Selenium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vitamin_A" class="control-label"></label>
                <input asp-for="Vitamin_A" class="form-control" />
                <span asp-validation-for="Vitamin_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vitamin_C" class="control-label"></label>
                <input asp-for="Vitamin_C" class="form-control" />
                <span asp-validation-for="Vitamin_C" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vitamin_D" class="control-label"></label>
                <input asp-for="Vitamin_D" class="form-control" />
                <span asp-validation-for="Vitamin_D" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vitamin_E" class="control-label"></label>
                <input asp-for="Vitamin_E" class="form-control" />
                <span asp-validation-for="Vitamin_E" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vitamin_B6" class="control-label"></label>
                <input asp-for="Vitamin_B6" class="form-control" />
                <span asp-validation-for="Vitamin_B6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vitamin_B12" class="control-label"></label>
                <input asp-for="Vitamin_B12" class="form-control" />
                <span asp-validation-for="Vitamin_B12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zinc" class="control-label"></label>
                <input asp-for="Zinc" class="form-control" />
                <span asp-validation-for="Zinc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
